
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <h2 class = "sign-up-title"><%= uppercase t("accounts.login_customer") %></h2>
    <h5><%= t("accounts.login_customer_message") %></h5>
    <%= form_for :session, class: "new_account", url: login_path do |f| %>
      <%= f.email_field :email, placeholder: t("place_holder.email"), class: "glyphicon" %>
      <%= f.password_field :password, placeholder: t("place_holder.password"), class: "glyphicon" %>
      <div>
        <%= link_to t("sessions.foget_password") , "#", class: "forget_password_link"%>
        <%= f.submit uppercase(t("sessions.submit_btn")), class:"form-btn-submit" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <h1 class = "sign-up-title"><%= uppercase t("accounts.rediect_login") %></h1>
    <h5 style = "margin-bottom: 40px"><%= t("accounts.register_customer_message") %></h5>
    <%= link_to new_account_path,  class: "btn-redirect"  do %>
      <%= uppercase t "accounts.create"%>
    <% end %>

  </div>
</div>
