<div class="row">
  <div class="col-md-4 offset-md-1">
    <h2 class = "sign-up-title"><%= uppercase t("accounts.login_customer") %></h2>
    <h5><%= t("accounts.login_customer_message") %></h5>
    <%= form_for @account, url: session_path(@account), class: "new_account" do |f| %>
      <%= render "layouts/flash" %>
      <%= f.email_field :email, placeholder: t("place_holder.email"), class: "glyphicon" %>
      <%= f.password_field :password, placeholder: t("place_holder.password"), class: "glyphicon" %>
      <% if devise_mapping.rememberable? %>
        <div class="field d-flex align-items-center">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me , class:"ms-2"%>
        </div>
      <% end %>
      <div>
        <%= link_to t("sessions.foget_password") , new_account_password_path, class: "forget_password_link"%>
        <%= f.submit uppercase(t("sessions.submit_btn")), class:"form-btn-submit" %>
      </div>
    <% end %>
    <%= link_to  account_google_oauth2_omniauth_authorize_path, method: :post, class: "btn btn-lg btn-block btn-primary mt-3 w-100", style: "background-color: #dd4b39;" do %>
      <i class="bi bi-google me-2"></i> <%= uppercase t("oauthes.google") %>
    <% end %>
  </div>
  <div class="col-md-4 offset-md-2">
    <h1 class = "sign-up-title"><%= uppercase t("accounts.rediect_login") %></h1>
    <h5 style = "margin-bottom: 40px"><%= t("accounts.register_customer_message") %></h5>
    <%= link_to new_account_registration_path,  class: "btn-redirect"  do %>
      <%= uppercase t "accounts.create"%>
    <% end %>
    <%= link_to new_account_confirmation_path,  class: "btn-redirect ms-3"  do %>
      <%= uppercase t("accounts.resend")%>
    <% end %>
  </div>
</div>
