<tr class="d-flex align-items-center ps-5  mb-3 ">
  <td class="sizing-table-first-column text-center"><%= order_product_counter + 1 %></td>
  <td class="sizing-table-order text-center"><%= order_product.product_name %></td>
  <td class="sizing-table-order text-center"><%= order_product.product_category_name %></td>
  <td class="sizing-table-order text-center"><%= order_product.quantity %></td>
  <td class="sizing-table-order text-center"><%= order_product.current_price %></td>
</tr>
