<tr class="d-flex align-items-center border rounded ps-5 border-2 border-primary mb-3 bg-light order-item ">
  <td class="sizing-table-first-column text-center"><%= order_counter + 1 %></td>
  <td class="sizing-table-order text-center"><%= order.receiver_name %></td>
  <td class="sizing-table-order text-center"><%= order.receiver_address %></td>
  <td class="sizing-table-order text-center">
      <%= link_to order.products_count, admin_order_path(order), class: "text-black" %>
  </td>
  <td class="sizing-table-order text-center"><%= number_to_currency(total_price(order)*1000000, precision: 0) %></td>
  <td class="sizing-table-order d-flex flex-column text-center" id= <%= "order_action_#{order.id}"%>>
    <% if  order.status_pending? %>
      <%= form_for(:order, url: admin_order_path(order), remote: true, method: :patch, id:"order-form-accept") do |f| %>
        <div><%= hidden_field_tag :status, :accept %></div>
        <div><%= hidden_field_tag :comment, "", id: "order-form-comment" %></div>
        <%= f.submit t("orders.accept"), class: "btn btn-outline-success mb-2 mt-2 btn-order text-center", data: { bs_toggle: "modal", bs_target: "#modal-comment" }, id:"accept-button" %>
      <% end %>
      <%= form_for(:order, url: admin_order_path(order), remote: true, method: :patch, id:"order-form-refuse") do |f| %>
        <div><%= hidden_field_tag :status, :refuse %></div>
        <div><%= hidden_field_tag :comment, "", id: "order-form-comment-refuse" %></div>
        <%= f.submit t("orders.refuse"), class: "btn btn-outline-secondary mb-2 btn-order text-center", data: { bs_toggle: "modal", bs_target: "#modal-comment" }, id:"refuse-button" %>
      <% end %>

    <% elsif order.status_approved? %>
      <div class="w-100 text-center fw-bold text-success"><%= t("orders.status.approved") %></div>
    <% elsif order.status_reject?  %>
      <div class="w-100 text-center fw-bold text-danger"><%= t("orders.status.reject") %></div>
    <% else %>
      <div class="w-100 text-center fw-bold text-danger"><%= t("orders.status.cancel") %></div>
    <% end %>
  </td>
</tr>
