<tr class="d-flex align-items-center border rounded ps-5 border-2 border-primary mb-3 bg-light order-item ">
  <td class="sizing-table-first-column"><%= order_counter + 1 %></td>
  <td class="sizing-table-order"><%= order.id %></td>
  <td class="sizing-table-order"><%= order.account.name %></td>
  <td class="sizing-table-order"><%= order.products.count %></td>
  <td class="sizing-table-order"><%= total_price order %></td>
  <td class="sizing-table-order d-flex flex-column">
    <% if  order.status_pending? %>
      <%= form_for(:user, remote: true) do |f| %>
        <%= f.submit t("orders.accept"), class: "btn btn-outline-success mb-2 mt-2 btn-order text-center" %>
      <% end %>
      <%= form_for(:user, remote: true) do |f| %>
        <%= f.submit t("orders.view"), class: "btn btn-outline-danger mb-2 btn-order text-center" %>
      <% end %>
      <%= form_for(:user, remote: true) do |f| %>
        <%= f.submit t("orders.refuse"), class: "btn btn-outline-secondary mb-2 btn-order text-center" %>
      <% end %>

    <% elsif order.status_approved? %>
      <div class="w-100 text-center fw-bold text-success"><%= t("orders.approved") %></div>
    <% else%>
      <div class="w-100 text-center fw-bold text-danger"><%= t("orders.reject") %></div>
    <% end %>
  </td>
</tr>
