<p><%= t("accounts.registrations.signed_up", email: @resource.email) %></p>

<p><%= t("accounts.reset_passwords.mail_introduction") %></p>

<p><%= link_to t("accounts.reset_passwords.mail_btn_change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("accounts.reset_passwords.remind") %></p>
<p><%= t("accounts.reset_passwords.remind_line_2") %></p>
