<div class="d-flex container-admin">
  <%= render "admin/layouts/sidebar" %>
  <aside class="col-md-10 ms-5 d-flex flex-column mt-5">
      <div class="text-center me-5 w-100 d-flex justify-content-center">
        <h1 class="fw-bold text-danger w-75"><%= uppercase t("admin.statistics.detail_title", month: @month, year: @year) %></h1>
      </div>
      <table class="mt-5 mb-5 table-monthly-statistics table table-striped">
        <thead>
          <tr class="d-flex text-center">
            <th class="sizing-table-statistic text-center"><%= t("products.ordinal_number") %></th>
            <th class="sizing-table-statistic text-center"><%= t("admin.statistics.name") %></th>
            <th class="sizing-table-statistic text-center"><%= t("admin.statistics.total_quantity") %></th>
            <th class="sizing-table-statistic text-center"><%= t("admin.statistics.total_price") %></th>
            <th class="sizing-table-statistic text-center"><%= t("admin.statistics.ratio") %></th>
          </tr>
        </thead>
        <tbody>
          <%= render(partial: "statistic_detail", collection: @statistics_detail, locals: {total: total_price_monthly_statistic(@statistics_detail)}) || t("admin.statistics.empty") %>
        </tbody>
      </table>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
      <div class="w-75 d-flex justify-content-end "><h3>  <%= t("admin.statistics.total_price") %> : <%= total_price_monthly_statistic @statistics_detail %></h3> </div>
  </aside>
</div>
