<tr style="display:flex; align-items:center; margin-top:10px">
  <td class="sizing-table-first-column">
    <%= product_counter + 1 %>
  </td>
  <td class="sizing-table">
    <%= product.name %>
  </td>
  <td class="sizing-table">
    <%= product.category.name %>
  </td>
  <td class="sizing-table">
    <%= product.price %>
  </td>
  <td class="sizing-table">
    <%= product.quantity %>
  </td>
  <td class="sizing-table">
    <i class="bi bi-bookmark-check bg-success bg-gradient fw-bold text-white p-1 rounded ms-3"></i>
  </td>
  <td class="sizing-table d-flex align-items-center">
    <%= link_to edit_admin_product_path(product) do %>
      <i class="bi bi-pen bg-warning bg-gradient fw-bold text-white rounded p-1"></i>
    <% end %>
    <%= form_for(:product, url: admin_product_path(product), method: :delete) do |f| %>
        <%= f.button "", data: { "turbo-method": :delete,turbo_confirm: t("sure") }, class:"button-trash" do %>
          <i class="bi bi-trash bg-danger bg-gradient fw-bold text-white p-1 rounded "></i>
        <% end %>
      <% end %>

  </td>
</tr>
