<div class="d-flex container-admin">
  <%= render "admin/layouts/sidebar" %>
  <aside class="col-md-10 ms-5" id="main" >
    <div class="d-flex align-items-center">
      <h2><%= t("admin.products.title") %></h2>
      <%= link_to  new_admin_product_path, id:"addButton", class:"open-modal main-top-btn-add text-white fw-bold d-flex align-items-center ms-3" do%>
        <i class="bi bi-plus fw-bold fs-3 me-1" ></i> <%= t("admin.products.insert")%>
      <% end %>
    </div>
    <h5 class="mt-5"><%= t("admin.products.list_title", num: @products.count)%></h5>
    <hr/>
    <div>
      <div class="d-flex">
        <div class="container-main-mid-search">
          <%= form_for(:search, method: :get) do |f| %>
            <%= f.text_field :name_or_description_or_category_name_cont, value: params.dig(:search, :name_or_description_or_category_name_cont), placeholder: "Search by name, description", class:"ps-3 pe-3" %>
            <%= f.button  class: "p-2 pe-4 ps-4 text-center " do %>
              <i class="bi bi-search text-black"></i>
            <% end %>
          <% end %>
        </div>
        <%= link_to "#", class:"ms-3 main-top-btn-add text-white bg-danger bg-gradient fw-bold d-flex align-items-center" do %>
          <%= t("admin.products.remove_all")%>
        <% end %>
      </div>
      <div id="admin_error_explanation" class="w-100 d-flex justify-content-center mt-5">
        <%= render "admin/layouts/flash_admin" %>
        <%= render "layouts/flash" %>
      </div>
        <table class="mt-5 mb-5 table-products table table-striped ">
          <thead>
            <tr class="d-flex">
              <th class="sizing-table-first-column text-center"><%= t("admin.products.ordinal_number") %></th>
              <th class="sizing-table text-center"><%= t("admin.products.name") %></th>
              <th class="sizing-table text-center"><%= t("admin.products.producer") %></th>
              <th class="sizing-table text-center"><%= t("admin.products.price") %></th>
              <th class="sizing-table text-center"><%= t("admin.products.quantity") %></th>
              <th class="sizing-table text-center"><%= t("admin.products.outstanding") %></th>
              <th class="sizing-table text-center"><%= t("admin.products.action") %></th>
            </tr>
          </thead>
          <tbody>
            <%= render(@products) || t("admin.products.empty") %>
          </tbody>

        </table>
         <div class = "d-flex justify-content-center"><%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %><div>
    </div>
  </aside>
</div>
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t("admin.products.title") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
