  <aside class="col-md-2 bg-success text-center">
    <div class="container-profile">
      <%= image_tag("https://e7.pngegg.com/pngimages/571/845/png-clipart-chibi-anime-drawing-female-chibi-white-mammal-thumbnail.png", class:"w-50 h-50 imgae_profile mt-3")%>
      <h5 class="text-white mt-3"><%= current_account.name%></h5>
    </div>
    <hr/>
    <div class= "d-flex flex-column align-items-center">
      <%= link_to admin_products_path, class:"nav-selection bg-secondary" do %>
       <%= t("products.title") %>
      <% end %>
      <%= link_to admin_orders_path, class:"nav-selection bg-secondary" do %>
       <%= t("orders.title") %>
      <% end %>
      <%= link_to admin_monthly_statistics_path, class:"nav-selection bg-secondary" do %>
       <%= t("admin.statistics.title") %>
      <% end %>
    </div>
  </aside>
