<div class="col-md-4 my-3">
  <div class="card">
    <%= product_image_tag(product) %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to product.name, product_path(product) %></h5>
      <%= render "shared/rating" %>
      <p class="card-text"><%= number_to_currency(product.price) %></p>
      <div class="add-to-cart">
        <%= button_to t("products.add_to_cart"), cart_path(product_id: product.id), method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
