<% provide :title, t("header.home") %>
<div class="container">
  <%= render "shared/search" %>
</div>
<div class="container content text-center">
  <% if flash %>
    <%= render "layouts/flash" %>
  <% end %>
  <% if @slider %>
    <%= render "outstanding_product" %>
  <% end %>
  <div class="row">
    <%= render "shared/list_categories" %>
    <div class="col-md-9 justify-content-center">
      <%= render "shared/filter" %>
      <div class="row">
        <% @products.each do |product| %>
          <%= render partial: "products/product", locals: { product: product } %>
        <% end %>
        <%= t("products.empty") if @products.empty? %>
      </div>
      <div class="pagination justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>
