<div class="row">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div class="col-md-4 offset-md-4 d-flex flex-column ">
      <h2 class="fw-bold mb-3 mt-3"><%= uppercase t("accounts.confirmation_title")%></h2>
      <%= render "shared/error_messages", object: resource %>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class:"w-100", autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      <%= f.submit uppercase(t("accounts.resend")), class:"form-btn-submit" %>
      <%= f.button uppercase(t("back")), class:"form-btn-back", onclick: "window.history.back();"  %>
    </div>
  <% end %>
</div>
